* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  min-height: 10vh;
  background-color: rgb(255, 221, 154);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  color: rgb(28, 165, 0);
}

.content {
  padding: 20px;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: rgb(255, 221, 154);
}
